* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(212, 45%, 89%);
}

.QRcode {
    width: 25rem;
    height: 37.5rem;
    border-radius: 1.2rem;
    background: hsl(0, 0%, 100%);
}
.QR-siz {
    width: 23rem;
    margin-top: 1.125rem;
    margin-left: 1.188rem;
    border-radius: 0.6em;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0;
}

.pie  {
    text-align-last: center;
    padding-left: 1.5rem;
}
.pie p {
    width: 16.818rem;
    height: 4.188rem;
    padding-left: 2.125rem;
    padding-right: 3.75rem;
    margin-left: 1.5rem;
    margin-top: 1.3rem;
    color:   hsl(220, 15%, 55%);
}

@media only screen and (max-width:700px) {
    .QRcode  {
        height: 100%;
    }
    .pie {
        font-size: 15px;
    }

    .QR-siz {
        width: 22rem;
        height: 22em;
    }
}